*{
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right,rgb(99	187	227), rgb(35 112 225), rgb(99	187	227));
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  text-align: center;
}

#searchFontSize{
  font-size: x-large;
  /* color: rgb(250	152	1) */
}
.searchInput{
  width: 20%;
  border-radius: 2rem;
}

form{
  padding: 2rem;
}

form button {
  height: 3em;
  border-radius: 1rem;
  width: min-content;
  margin-top: 1rem;
  padding-left: 3%;
  padding-right: 3%;
  color: white;
  font-size: large;
  background-image: linear-gradient(to bottom right,rgb(99	187	227), rgb(35 112 225));
  transition-duration: 0.4s;
}

form button:hover{
  background-image: linear-gradient(to bottom right,rgb(139	195	74), rgb(225 225 225));
  background-color: rgb(139	195	74);
  color: black;
}

table {
  background-color: rgb(255	255	255	);
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

thead{
  border-radius: 2rem;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

th, td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 12px;
  border: 1px solid;
  width: max-content;
}

.table th {
  border: 2px solid;
}

.table td {
  border: 2px solid;
}

.orange-background {
  background-color: orange; 
}

.red-background {
  background-color: red;
  color: black;
  border-color: black;
}

#client{
  margin: .5%;
  border-radius: 2rem;
}

#poc{
  margin: .5%;
  border-radius: 2rem;
}

#email{
  margin: .5%;
  border-radius: 2rem;
}

#role{
  margin: .5%;
  border-radius: 2rem;
}

#urgency{
  margin: .5%;
  border-radius: 2rem;
}

#quantity{
  margin: .5%;
  border-radius: 2rem;
}

#skills_needed{
  margin: .5%;
  border-radius: 2rem;
  width: 30%;
}